@charset "UTF-8";
/* CSS Document */


body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	font-style: none;
	color: #000;
	
	margin: 0px;
	padding: 0px;
}



#container {
	margin-left: 40px;
	}


#header {
	margin: 20px 0px 20px 0px;
	
	}
	





/*classes*/

.thumb {
	width: 150px;
	height: 250px;
	background: transparent;
	margin:  0px 40px 20px 0px;
	padding: 3px;
	float: left;
	
	}
	
	
.thumbpic {
	width: 150px;
	height: 150px;
	margin-bottom: 7px;
	background: #9F0;	
}	


	
.map {
	width: 800px;
	margin: -10px 0px 30px 0px;
	background-color: #0F0;
	
	}
	
	


/*index text styles*/


proj_name {
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;

		
	}
	
proj_sub {
	font-size: 12px;
	font-style: none;
	line-height: 16px;
	
	}
	

toplinks {
	line-height: 25px;
	}
	
	
a {
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;

	}
	
a:link {
	color: #0C3;
	}
	
a:visited {
	color: #666;
	text-decoration: line-through;
	
	}
a:hover {
	opacity:0.8;
	}
	
a:active {
	opacity:0.8;

	}
	
	

/*project page text styles*/


#proj_title {
	width: 600px;
	margin:  0px 0px 0px 0px;
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;

	}

#proj_description {
	width: 500px;
	margin:  7px 0px 20px 0px;
	font-size: 12px;
	font-weight: normal;
	line-height: 16px;


	}
	
	

	
	
	
	
	
	
	
	
	
